<div>
  <form>
    <div class="form-group">
      <label>Name</label>
      <input ng-model="personChanges.name" type="text" class="form-control" placeholder="Enter name"/>
    </div>
    <div class="form-group">
      <label>Lastname</label>
      <input ng-model="personChanges.lastname" type="text" class="form-control" placeholder="Enter lastname"/>
    </div>

    <div class="form-group">
      <label>Skills</label>
      <input type="text" ng-model="skillSelector" typeahead="skill as skill.name for skill in availableSkills | filter:$viewValue"
             typeahead-on-select="onSkillSelected($model, $label)" class="form-control" placeholder="type to search for a skill">
    </div>
    <div class="panel panel-default">
      <div class="panel-body well" style="margin: 0px;">
          <div class="btn-group" ng-repeat="personSkill in personChanges.personSkills" style="padding-right: 10px;">
              <button type="button" class="btn" data-toggle="modal"
                      ng-class="{'btn-default': personSkill.level===-1, 'btn-warning': personSkill.level===1, 'btn-info': personSkill.level===2, 'btn-success': personSkill.level===3} "
                      ng-click="editSkill(personSkill);">
                <b>{{personSkill.name }}</b>
              </button>
          </div>

    </div>
  </div>

  <button ng-click="save()" class="btn btn-sm btn-primary">Save</button>
</form>

  <!-- Modal to edit -->

    <script type="text/ng-template" id="editSkillModal.html">
      <div class="modal-header">
        <label>Select level of knowledge for <u>{{personSkill.skill.name}}</u></label>
      </div>
      <div class="modal-body" style="padding-bottom: 40px; padding-top: 30px;">
        <!--{{personSkillChanges.level}}-->
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-warning" ng-click="setLevel(1)">Low</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-info" ng-click="setLevel(2)">Medium</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-success" ng-click="setLevel(3)">High</button>
          </div>
        </div>
      </div>
    </script>
</div>